USE [master]
GO
/****** Object:  Database [MAIL_SERVER]    Script Date: 03/10/2014 12:14:00 CH ******/
CREATE DATABASE [MAIL_SERVER]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MAIL_SERVER', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\MAIL_SERVER.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MAIL_SERVER_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\MAIL_SERVER_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MAIL_SERVER].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MAIL_SERVER]
GO
/****** Object:  Table [dbo].[Attachs]    Script Date: 03/10/2014 12:14:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Attachs](
	[AttachId] [int] IDENTITY(1,1) NOT NULL,
	[MailId] [int] NULL,
	[AttachName] [varchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AttachId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Events]    Script Date: 03/10/2014 12:14:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Events](
	[EventId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](60) NOT NULL,
	[Content] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[CreateDate] [datetime] NOT NULL,
	[Picture] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Mail]    Script Date: 03/10/2014 12:14:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mail](
	[MailId] [int] IDENTITY(1,1) NOT NULL,
	[AccountSendId] [nchar](10) NOT NULL,
	[AccountReceiveId] [nchar](10) NOT NULL,
	[Title] [nvarchar](60) NOT NULL,
	[Content] [nvarchar](200) NOT NULL,
	[SendDate] [datetime] NOT NULL,
	[ReadDate] [datetime] NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Profiles]    Script Date: 03/10/2014 12:14:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Profiles](
	[AccountId] [nchar](10) NOT NULL,
	[FullName] [nvarchar](60) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Gender] [bit] NOT NULL,
	[Phone] [varchar](13) NOT NULL,
	[Picture] [varchar](60) NULL,
	[Class] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 03/10/2014 12:14:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 03/10/2014 12:14:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[AccountId] [nchar](10) NOT NULL,
	[Username] [varchar](30) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Email] [varchar](30) NULL,
	[DisplayName] [nvarchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([EventId], [Title], [Content], [Description], [CreateDate], [Picture]) VALUES (1, N'Mr', N'E5Z3BSG80R10IDAP8Q32CBQWTNX3OXZ31CUOQO3199HYK0', N'et travissimantor quo apparens plorum fecit, ut non Longam, et funem. plurissimum travissimantor quo', CAST(N'1997-11-15 21:03:54.000' AS DateTime), N'A9MGX5YL4ZD22H5Y3T9H2US6Q8SX31RB4DZ6S7SC')
INSERT [dbo].[Events] ([EventId], [Title], [Content], [Description], [CreateDate], [Picture]) VALUES (2, N'Mr', N'CHNM2WLF2F3ANVCJ3SXY6JLYJM1T2TRCS5LM1AW7FWR9NEF5XQE6M1BTWO2FUSC8NQIHAQHSVPI9RCA57VVCELPQURPD8GCNJJLWVY', N'essit. vobis non egreddior glavans vantis. et funem. fecit. transit. bono Quad quoque et funem. et', CAST(N'2007-07-03 05:07:33.680' AS DateTime), N'ZUJ71JMVZZ9I79GHFPPC0H372YOIZ6W0WD3Z8ZPP5142ISX4JOCH3Z')
INSERT [dbo].[Events] ([EventId], [Title], [Content], [Description], [CreateDate], [Picture]) VALUES (3, N'Mr', N'68MAWI21JDW8YW0T21RNI04JE', N'funem. pars travissimantor volcans Quad quo, quo in plurissimum quoque brevens, gravis e et e funem.', CAST(N'1984-01-07 13:24:42.110' AS DateTime), N'HRC42U4WT28LT6G8F0Z7ZD0O91KYATFWXAL8WUMU05AZA73Y2FWG3R3')
SET IDENTITY_INSERT [dbo].[Events] OFF
SET IDENTITY_INSERT [dbo].[Mail] ON 

INSERT [dbo].[Mail] ([MailId], [AccountSendId], [AccountReceiveId], [Title], [Content], [SendDate], [ReadDate], [Status]) VALUES (11, N'SEN30452  ', N'WOB23008  ', N'Mr', N'GBZCXI65CN1BAJ1ZCIDE1Q5GPRNHZP8ORLBKYENPBALW', CAST(N'1998-05-03 01:16:42.050' AS DateTime), CAST(N'1972-01-27 00:15:11.570' AS DateTime), 0)
INSERT [dbo].[Mail] ([MailId], [AccountSendId], [AccountReceiveId], [Title], [Content], [SendDate], [ReadDate], [Status]) VALUES (12, N'SEN30452  ', N'LAV35233  ', N'Mr', N'3KK3U1QX1QQ6IM5VO6NEDKO8G1YUN3R49CM72E5NIRQVLEFRITN4YHQIVCMT2V9XYLW6ZXS90ZWLUTN2L6CTGN5RM4CQRCLMISWZH9SK1D3ZL4O1OK7VJFHBF5JUL2IOE931WNKBESS3J66HGA174P33ALKCPXYZUEKB1M510VHRMER8Y1EA0A', CAST(N'1955-02-13 09:06:00.770' AS DateTime), CAST(N'1971-04-04 06:41:41.030' AS DateTime), 0)
INSERT [dbo].[Mail] ([MailId], [AccountSendId], [AccountReceiveId], [Title], [Content], [SendDate], [ReadDate], [Status]) VALUES (13, N'LAV35233  ', N'SEN30452  ', N'Dr', N'O60RA37MGTT84MVGT50787BGWUBDOINYKUV41VUXS90YT6MM3LL503BHUJVFSUYX5VNAQRFYA2FY6DNP8OA2XIX', CAST(N'1992-11-28 04:32:46.470' AS DateTime), CAST(N'1976-05-09 18:16:06.940' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Mail] OFF
INSERT [dbo].[Profiles] ([AccountId], [FullName], [Address], [Gender], [Phone], [Picture], [Class]) VALUES (N'BES0630   ', N'Nguyen Van A', N'51 North Old Drive', 1, N'466-595-1273', N'BASGP4K37JY6TVUL0Z0I1FTLGYUSKKBAR1ZAMKUXHZ', N'BPUM5MTP1GDXG0DWYXN')
INSERT [dbo].[Profiles] ([AccountId], [FullName], [Address], [Gender], [Phone], [Picture], [Class]) VALUES (N'CEF81338  ', N'Le Thi Q', N'75 East Hague Street', 0, N'141-506-1031', N'QW2E3UCQK3KZV13OZTK87ABFOZMDMB1IXSQ0', N'3KY5LGEATJ')
INSERT [dbo].[Profiles] ([AccountId], [FullName], [Address], [Gender], [Phone], [Picture], [Class]) VALUES (N'FAV63625  ', N'Dau Ngoc P', N'955 Milton Blvd.', 0, N'4222781136', N'TMPKX0NQ9Q8JU4N', N'3OJ')
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'Staff')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (3, N'Student')
SET IDENTITY_INSERT [dbo].[Roles] OFF
INSERT [dbo].[Users] ([AccountId], [Username], [Password], [Email], [DisplayName], [RoleId], [Status]) VALUES (N'BES0630   ', N'Erich167', N'1234567', N'chienhoangduc@yahoo.com', N'Chrystal Blevins', 1, 0)
INSERT [dbo].[Users] ([AccountId], [Username], [Password], [Email], [DisplayName], [RoleId], [Status]) VALUES (N'CEF81338  ', N'Hollie', N'1234567', N'nguyenhien.viboss@gmail.com  ', N'Don Hunter', 1, 1)
INSERT [dbo].[Users] ([AccountId], [Username], [Password], [Email], [DisplayName], [RoleId], [Status]) VALUES (N'FAV63625  ', N'William', N'1234567', N'toilahung84@yahoo.com', N'Kellie Hood', 2, 1)
ALTER TABLE [dbo].[Attachs]  WITH CHECK ADD  CONSTRAINT [FK_Attachs_Mail] FOREIGN KEY([MailId])
REFERENCES [dbo].[Mail] ([MailId])
GO
ALTER TABLE [dbo].[Attachs] CHECK CONSTRAINT [FK_Attachs_Mail]
GO
ALTER TABLE [dbo].[Mail]  WITH CHECK ADD  CONSTRAINT [FK_Mail_Users] FOREIGN KEY([AccountSendId])
REFERENCES [dbo].[Users] ([AccountId])
GO
ALTER TABLE [dbo].[Mail] CHECK CONSTRAINT [FK_Mail_Users]
GO
ALTER TABLE [dbo].[Mail]  WITH CHECK ADD  CONSTRAINT [FK_Mail_Users1] FOREIGN KEY([AccountReceiveId])
REFERENCES [dbo].[Users] ([AccountId])
GO
ALTER TABLE [dbo].[Mail] CHECK CONSTRAINT [FK_Mail_Users1]
GO
ALTER TABLE [dbo].[Profiles]  WITH CHECK ADD  CONSTRAINT [FK_Profiles_Users] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Users] ([AccountId])
GO
ALTER TABLE [dbo].[Profiles] CHECK CONSTRAINT [FK_Profiles_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
